// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


a {text-decoration: none}

/*  */

.d-flex {display: flex;}
.flex-row  {flex-direction: row;}
.justify-content-center {justify-content: center;}
.justify-content-between {justify-content: space-between;}

/* POSITIONING */

.pos-absolute {position: absolute}

.pos-bottom {bottom: 0}

.sticky-footer {min-height: calc(100vh - 200px);}

/* SIZING */

.w-100 {width: 100%;}

.h-2 {height: 2rem;}

/* SPACIING */

.mx-auto {margin: 0 auto;}

.mx-0 {margin-left: 0;margin-right: 0;}

.mb-0 {margin-bottom: 0;}

.mt-0 {margin-top: 0;}

.mt-1 {margin-top: 1rem;}

.mx-1 {margin-left: 1rem;margin-right: 1rem;}

.my-1 {margin-top: 1rem;margin-bottom: 1rem;}

.mb-1 {margin-bottom: 1rem;}

.px-1 {padding-left: 1rem;padding-right: 1rem;}

.py-1 {padding-top: 1rem;padding-bottom: 1rem;}

/* TYPOGRAPHY */

.text-uppercase {text-transform: uppercase;}

.text-center {text-align: center;}

.font-size-md {font-size: 1rem;}
.font-size-lg {font-size: 1.5rem;}

.font-weight-bold {font-weight: bold;}
